<div class="container">
  <h1>New Game</h1>
  <div style="display:flex">
    <% @letters.each do |letter| %>
      <div class="letter"><%= letter %></div>
      <% end %>
  </div>
  <form class="mt-3" action="/score" method="post" data-turbo="false">
      <label for="guess">What is the longest word you can find?</label>
    <div class="input-group w-50">
      <input class="form-control w-50 mb-2" type="text" name="guess" id="guess">
    <div class="input-group-append"><input class="btn btn-outline-secondary" type="submit" value="Play!"></div>
    </div>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag :letters, @letters %>
  </form>
</div>
